
.stats-list {
    list-style-type: none;
    clear: left;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .stats-list .stats-list-positive {
    color: #3adb76;
  }
  
  .stats-list .stats-list-negative {
    color: #cc4b37;
  }
  
  .stats-list > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #cacaca;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .stats-list > li:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  .stats-list > li .stats-list-label {
    display: block;
    margin-top: 2px;
    font-size: 0.9em;
    font-weight: normal;
  }
  
  


  .dashboard-table {
    border-collapse: collapse;
    margin-bottom: 0;
    padding: 5px;
  }
  
  .dashboard-table-row {
    border-bottom: 1px dashed #d7d7d7;
  }

  .dashboard-table-row>div {
    padding: 10px;
  }
  
  .dashboard-table a {
    color: #242424;
  }
  
  .dashboard-table .bold {
    color: #0a0a0a;
    font-weight: 600;
  }
  
  .dashboard-table-head, .dashboard-table-label {
    background: none;
    border: 0;
    color: #696969;
    font-size: 0.8rem;
  }
  
  .dashboard-table {
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  
  .dashboard-table-row {
    transition: all 0.5s ease;
  }

  .dashboard-table-row:nth-child(odd) {
    background-color: #f8f8f8;
  }

  .dashboard-table-row:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .dashboard-table-row:last-child {
    border-bottom: 0;
  }
  
  .dashboard-table-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  
  .dashboard-table-timestamp {
    color: #9a9a9a;
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  .dashboard-table-image {
    display: inline;
    margin-right: 1rem;
    margin-top: 0.6rem;
    max-width: none;
  }
  
  