
form .form-icons {
  text-align: center;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #bbd406;
  border-color: #bbd406;
}

form .form-icons .input-group-field {
  border-color: transparent;
}

form .form-icons .input-group-field:focus {
  border-color: #bbd406;
}

form .form-icons .fa {
  color: #333333;
  width: 1rem;
}
