body {
    background-color: #E6E8EB;
    padding: 0px;
    margin: 0px;
  }
  

.foundation-5-top-bar {
  background: #333;
  color: #fefefe;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.foundation-5-top-bar .menu {
  background: #333;
}

/*.foundation-5-top-bar .menu:hover {
  background: #262626;
}*/

.foundation-5-top-bar .menu a {
  color: #fefefe;
}

.foundation-5-top-bar .is-dropdown-submenu {
  border: 0;
}

.foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
  border-color: transparent transparent transparent #fefefe;
}

.foundation-5-top-bar .js-drilldown-back > a::before {
  border-color: transparent #fefefe transparent transparent;
}

.foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fefefe;
}

.foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color: #fefefe transparent transparent;
}

.top-bar-boundry {
  margin-bottom: 48px;
}


.md-tabs {
  background-color: #333;
}

.md-tabs > .mobile-nav-bar {
  background-color: #333;
  margin-bottom: 15px;
}

.md-tabs > .mobile-nav-bar .title-bar-text {
  font-size: 26px;
}

.md-tabs > .mobile-nav-bar a {
  color: #fefefe;
}

.md-tabs > .tabs {
  margin: 0;
  border: 0;
  background: #333;
  list-style-type: none;
  display: table;
  width: 100%;
}

.md-tabs > .tabs > .tabs-title {
  display: table-cell;
  width: 25%;
  text-align: center;
  display: inline-block;
}

.md-tabs > .tabs > .tabs-title.is-active > a {
  color: #bbd406;
  background-color: transparent;
  outline: none;
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(1) ~ .slide {
  left: calc((100% / 4) * 0);
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(2) ~ .slide {
  left: calc((100% / 4) * 1);
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(3) ~ .slide {
  left: calc((100% / 4) * 2);
}

.md-tabs > .tabs > .tabs-title.is-active:nth-of-type(4) ~ .slide {
  left: calc((100% / 4) * 3);
}

.md-tabs > .tabs > .tabs-title > a {
  color: #fefefe;
  font-size: 16px;
}

.md-tabs > .tabs > .tabs-title > a:hover, .md-tabs > .tabs > .tabs-title > a:focus {
  background: transparent;
}

.slide {
  background: #bbd406;
  width: calc(100% / 4);
  height: 4px;
  position: relative;
  left: 0;
  top: 52px;
  transition: left 0.3s ease-out;
}

@media screen and (max-width: 39.9375em) {
  .slide {
    width: 0;
    height: 0;
  }
  .md-tabs > .accordion {
    margin-left: 0;
    list-style-type: none;
  }
  .md-tabs > .accordion > .accordion-item > .accordion-title {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    border: 0;
    font-size: 0.75rem;
    line-height: 1;
    background: #333;
    color: #fefefe;
  }
  .md-tabs > .accordion > .accordion-item > .accordion-title:hover {
    background-color: #333;
    color: #bbd406;
    outline: none;
  }
  .md-tabs > .accordion > .is-active.accordion-item > a.accordion-title {
    border-bottom: 4px solid #bbd406;
    color: #bbd406;
  }
  .md-tabs > .accordion > .accordion-item > .accordion-content {
    display: none;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-top: 0px;
    background-color: #fefefe;
    color: #0a0a0a;
  }
  .accordion > .accordion-item > .accordion-title:focus {
    background-color: #333;
    color: #bbd406;
    outline: none;
  }
}

/* The checkboxCustomContainer */
.checkboxCustomContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxCustomContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  background-color: rgb(146, 146, 146);
}

/* On mouse-over, add a grey background color */
.checkboxCustomContainer:hover input ~ .checkmark {
  background-color: rgb(61, 61, 61);
}

/* When the checkbox is checked, add a blue background */
.checkboxCustomContainer input:checked ~ .checkmark {
  background-color: #bbd406;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxCustomContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxCustomContainer .checkmark:after {
  left: 12px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 0 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  margin-bottom: 0px;
}


@import url("//hello.myfonts.net/count/3102eb");

@font-face {font-family: 'ProximaNovaSoft-Medium';src: url('webfonts/3102EB_0_0.eot');src: url('webfonts/3102EB_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3102EB_0_0.woff2') format('woff2'),url('webfonts/3102EB_0_0.woff') format('woff'),url('webfonts/3102EB_0_0.ttf') format('truetype'),url('webfonts/3102EB_0_0.svg#wf') format('svg') !important;}
@font-face {font-family: 'ProximaNovaSoft-Semibold';src: url('webfonts/3102EB_1_0.eot');src: url('webfonts/3102EB_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3102EB_1_0.woff2') format('woff2'),url('webfonts/3102EB_1_0.woff') format('woff'),url('webfonts/3102EB_1_0.ttf') format('truetype'),url('webfonts/3102EB_1_0.svg#wf') format('svg') !important;}
@font-face {font-family: 'ProximaNovaSoft-Bold';src: url('webfonts/3102EB_2_0.eot');src: url('webfonts/3102EB_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3102EB_2_0.woff2') format('woff2'),url('webfonts/3102EB_2_0.woff') format('woff'),url('webfonts/3102EB_2_0.ttf') format('truetype'),url('webfonts/3102EB_2_0.svg#wf') format('svg') !important;}
@font-face {font-family: 'ProximaNovaSoft-Regular';src: url('webfonts/3102EB_3_0.eot');src: url('webfonts/3102EB_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3102EB_3_0.woff2') format('woff2'),url('webfonts/3102EB_3_0.woff') format('woff'),url('webfonts/3102EB_3_0.ttf') format('truetype'),url('webfonts/3102EB_3_0.svg#wf') format('svg') !important;}
p, div, span, body, tr, td, th, table, h1, h2, h3, h4, h5, h6, button, input, textarea, center, font {
	font-family: 'ProximaNovaSoft-Regular' !important;
}

.ui-dialog-titlebar {
  background-color: #333 !important;
}
.ui-dialog-title {
  color: #bbd406 !important;
}
.ui-button {
  color: #000 !important;
  border: none !important;
  border-radius: 0 !important;
}
.ui-button:hover {
  color: #fff !important;
}

.round {
  border-radius: 50%;
}

.borderless {
  border: none;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  color: #4d4d4d;
}

.clickable:hover {
  text-decoration: none;
  color: #8d8d8d;
}

.mb-2 {
  margin-bottom: 16px;
}

.dark_link {
  color: rgb(16, 5, 66);
}

.dark_link:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.login-frame {
  border: none;
  width: 100%;
}

.token-expire-popup {
  background-color: #E6E8EB;
}