.wrapper {
    display: flex;
    margin: 0px;
}

.sidebar {
    border-right: 1px solid black;
    padding: 4px;
    background-color: #202020;
    color: #fff;
}

.nav-item i {
    width: 32px;
    margin: 3px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.content-wrapper {
    border-top: 10px #202020 solid;
    flex-grow: 1;
}

#logo, #logo-easter-egg {
    font-family: 'Arial Black', sans-serif;
}

#logo-easter-egg {
    display: inline-block;
    animation: easter-egg 6s infinite ease-in-out;
    text-shadow: 0 0 4px #fff, 0 0 10px #00DEFF, 0 0 18px #ff00ea;
}

@keyframes easter-egg {
    0% {
        color: orange;
        transform: rotate(-12deg) scale(1);
        translate:   0px   0px;
    }

    25% {
        color: cyan;
        transform: rotate(8deg) scale(1.1);
        translate: 18px -10px;
    }

    50% {
        color: DeepPink;
        transform: rotate(0deg) scaleX(-1.15) scaleY(1.15);
        translate: -15px 10px;
    }

    75% {
        color: yellow;
        transform: rotate(-8deg) scale(1.1);
        translate: 10px 12px;
    }

    100% {
        color: orange;
        transform: rotate(-12deg) scale(1);
        translate: 0px 0px;
    }
}

@media(min-width: 992px) {
    .sidebar {
        min-height: 100vh;
    }
}
